.hover-image1,
.hover-image2,
.hover-image3,
.hover-image4 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.button1Container:hover .hover-image1,
.button2Container:hover .hover-image2,
.button3Container:hover .hover-image3,
.button4Container:hover .hover-image4 {
    opacity: 1;
    cursor: pointer;
    max-width: 100%;
}

.button1Container,
.button2Container,
.button3Container {
    position: relative;
    display: inline-block;
}

.button4Container {
    margin-bottom: 170px;
    position: relative;
    display: inline-block;
}

.dropdownGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #430075;
    z-index: 1;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.dropdown-karte {
    width: 100%;
    max-width: 500px;
}

.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #430075;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    max-width: 100%;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E7FC35;
    color: #430075;
    border-radius: 10px;
}

.dropbtn {
    background-color: #430075;
    cursor: pointer;
    color: #E7FC35;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    height: 70px;
    width: 100%;
    max-width: none;
    border-radius: 10px;
}

.button1, .button2, .button3, .button4 {
    max-width: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: auto;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.profitiere {
    grid-row: 1 / auto;
    grid-column: span 2 / auto;
    margin-top: 10%;
}

.top2Container {
    grid-row: 2 / auto;
    grid-column: span 2 / auto;
}

.button1Container, .button2Container {
    margin: 1%;
}

.imgApp {
    grid-row: 3 / auto;
    grid-column: span 3 / auto;
    max-width: 100%;
    margin-top: 20%;
}

.wähle {
    grid-row: 4 / auto;
    grid-column: span 4;
    margin-top: 5%;
}

.hotboxContainer {
    grid-row: 5 / auto;
    grid-column: span 1 / auto;
    margin: 5px;
    margin-top: 30px;
}

.hotbox {
    max-width: 100%;
    border-radius: 10px;
}

.mensa {
    grid-row: 5 / auto;
    grid-column: 2 / span 2;
    margin-top: 30px;
}

.warmes {
    grid-row: 6 / auto;
    grid-column: 1 / span 2;
    margin-top: 40px;
}

.dropdownGrid {
    grid-row: 6 / auto;
    grid-column: 3 / span 1;
    margin-top: 40px;
}

.bottom2Container {
    grid-row: 7 / auto;
    grid-column: 1 / span 2;
    margin-top: 30px;
    margin-bottom: 30%;
}

.button3Container, .button4Container {
    margin: 1%;
}

.holDir {
    grid-row: 7 / auto;
    grid-column: 3 / span 1;
    margin-top: 30px;
}

@media only screen and (max-width: 980px) {
    .parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profitiere,
    .top2Container,
    .imgApp,
    .wähle,
    .hotboxContainer,
    .mensa,
    .warmes,
    .dropdownGrid,
    .bottom2Container,
    .holDir {
        width: 100%;
        margin-top:30px;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown {
        margin : 20px;
        width: 100%;
        max-width: 500px;
    }

    .profitiere {
        order: 2;
    }

    .top2Container {
        order: 3;
    }

    .imgContainer {
        order: 1;
        max-width: 400px;
    }

    .wähle {
        order: 4;
        margin-top: 50px;
    }

    .hotboxContainer {
        order: 5;
    }

    .mensa {
        order: 6;
    }

    .warmes {
        order: 8;
    }

    .dropdownGrid {
        order: 7;
    }

    .bottom2Container {
        order: 9;
        margin: 0px;
        margin-top: 30px;
    }

    .holDir {
        order: 10;
        margin-bottom: 30px;
    }
}




