input[type="text"], input[type="email"], textarea {
    border-radius: 10px;
    border: #430075 5px solid;
    color: #000;
    font-style: italic;
    font-weight: 100;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
    width: 400px;
    padding-left: 10px;
}

textarea {
    height: 300px;
}

input[type="submit"] {
    border-radius: 10px;
    border: 0px;
    background-color: #430075;
    color: #E7FC35;
    font-style: normal;
    font-weight: 100;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 20px;
    width: 420px;
    margin-bottom: 80px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #E7FC35;
    color: #430075;
}

.kontaktformular {
    color: var(--Dunkelblau, #012257);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    grid-row: 3 / auto;
    grid-column: 3 / auto;
}

.bestellungen, .lieferungen, .bezahlungen {
    height: 70px;
    width: 250px;
    max-width: 100%;
    border-radius: 10px;
    background: #430075;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    cursor: pointer;
}

.bestellungen:hover,
.bestellungen:hover a,
.lieferungen:hover,
.lieferungen:hover a,
.bezahlungen:hover,
.bezahlungen:hover a
 {
    background: #E7FC35;
    color: #430075;
    max-width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    grid-row: 3 / auto;
    grid-column: 1 / span 2;
    margin-right: 20%;
}

.text a {
    color: var(--Dunkelblau, #012257);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
    font-style: italic
}

.kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: auto auto;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.frage {
    grid-row: 1 / auto;
    grid-column: 2 / auto;
    width: max-content;
    justify-self: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.bestellungen {
    grid-row: 2 / auto;
    grid-column: 1 / 2;
}

.lieferungen {
    grid-row: 2 / auto;
    grid-column: 2 / 3;
}

.bezahlungen {
    grid-row: 2 / auto;
    grid-column: 3 / 4;
}

@media screen and (max-width: 956px) {
    .kontakt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .frage,
    .bestellungen,
    .lieferungen,
    .bezahlungen,
    .text,
    .kontaktformular {
        order: unset;
        width: 100%;
        margin: 0;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .bestellungen {
        order: 1;
    }

    .lieferungen {
        order: 2;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .bezahlungen {
        order: 3;
        margin-bottom: 50px;
    }

    .text {
        order: 4;
    }

    .kontaktformular {
        order: 5;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    input[type="submit"] {
        max-width: 100%;
        margin-left: 0px;
    }
}