header {
    background-color:rgb(183, 79, 79);
}
body {
    background-color:rgb(138, 138, 216);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color:rgb(94, 94, 195);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid rgb(183, 79, 79);
}