body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #F0D59E 32.29%, rgba(240, 213, 158, 0.00) 93.75%);
}

img {
    border-radius: 10px;
}

.titel a {
    margin: 0px;
}

nav {
    background-color: #430075;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-row: 1 / 2;
    background-color: #430075;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
}

.menu {
    grid-area: 1 / 12 / 2 / 13;
}

header {
    background-image: url(../img/header.webp);
    background-size: cover;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-items: end;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 70px;
    justify-content: space-around;
}

.submenu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #430075;
}

.menu li:hover .submenu {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.titel {
    grid-row: 2 / 3;
    margin-left: 20px;
}

.titel h2 {
    line-height: 35px;
    margin-bottom: 10px;
}

.titel h1 {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: var(--Grellgrn, #E7FC35);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 20px;
}

footer {
    background: var(--Violet, #430075);
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    color: #F0D59E;
}

.links, .mitte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0px;
    margin: 20px;
    margin-top: 5%;
}

.rechts {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    padding: 0px;
    margin: 20px;
    margin-top: 5%;
}

.rechts img {
    margin-top: 70px;
}

h1 {
    color: #E7FC35;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: 5px;
}

h2 {
    color: #E7FC35;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 5px;
}

h3 {
    color: var(--Dunkelblau, #012257);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    margin: 20px;
}

h4 {
    color: var(--Beige, #F0D59E);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
    margin: 20px;
}

h5 {
    color: var(--Dunkelblau, #012257);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    margin: 20px;
}

p {
    color: var(--Dunkelblau, #012257);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin: 20px;
}

.funktion a {
    font-size: 25px;
    color: #E7FC35;
    line-height: 70px;
    text-decoration: none;
    font-weight: 600;
}

.funktion {
    height: 70px;
    width: 400px;
    border-radius: 10px;
    background: #430075;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / 4;
    grid-column: 2 / auto;
    margin-top: 20%;
}

.funktion:hover,
.funktion:hover a {
    background: #E7FC35;
    color: #430075;
    cursor: pointer;
}

.quader1,
.quader2 {
    max-width: 300px;
    flex-shrink: 1;
    border-radius: 10px;
    background: var(--Violet, #430075);
    margin-bottom: 170px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.quaderTitel {
    margin-top: 30px;
    font-size: 25px;
    color: #E7FC35;
    line-height: 25px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
}

.quader3 {
    max-width: 300px;
    border-radius: 10px;
    background: var(--Violet, #430075);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 300px;
}

.quader3 a h3 {
    color: #E7FC35;
    margin: 0px;
}

.quader3 p {
    color: #E7FC35;
    margin: 0px;
    margin-left: 15px;
    align-self: center;
}

.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.imgContainer {
    grid-row: span 2 / auto;
    grid-column: 3 / auto;
}

.imgEssen {
    max-width: 100%;
    margin-top: 70px;
}

.warteschlange {
    grid-row: 1 / auto;
    grid-column: span 2 / auto;
    margin-top: 50px
}

.jederzeit {
    grid-row: 2 / 3;
    grid-column: span 2 / auto;
}

.vorteile {
    grid-row: 4 / 5;
    grid-column: 2 / auto;
    margin-top: 30px;
    margin-bottom: 20px;
    min-width: max-content;
}

.vorteil1,
.vorteil2,
.vorteil3 {
    grid-row: 5 / 6;
    max-width: 300px;
}

.quader1,
.quader2,
.quader3 {
    max-height: fit-content;
    grid-row: 6 / auto;
    grid-column: span 1;
    margin: 5%;
    margin-bottom: 80px;
}

@media only screen and (max-width: 956px) {

    .imgContainer,
    .quader1,
    .warteschlange,
    .jederzeit,
    .quader2,
    .quader3,
    .vorteile,
    .vorteil1,
    .vorteil2,
    .vorteil3,
    .funktion,
    .medien,
    .home {
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .warteschlange{
        margin-top: 10px;
    }

    .quader1 {
        order: 9;
        margin: 0px;
    }

    .imgContainer {
        order: 2;
        margin-bottom: 20px;
    }

    .quader2 {
        order: 10;
        margin: 30px;
    }

    .quader3 {
        order: 11;
        margin: 0px;
        margin-bottom: 80px;
    }

    .warteschlange {
        order: 1;
    }

    .jederzeit {
        order: 3;
    }

    .vorteile {
        order: 5;
    }

    .vorteil1 {
        order: 6;
    }

    .vorteil2 {
        order: 7;
    }

    .vorteil3 {
        order: 8;
        margin-bottom: 40px;
    }

    .funktion {
        order: 4;
        max-width: 400px;
        margin-top: 60px;
    }

    .imgEssen {
        margin: 0px;
    }
}